
  <!-- ==================================Category========================================== -->
  <div class="category-wrapper">
    <div class="category">
      <ul class="nav nav-pills">
        <li class="disabled" style="width: 7em; text-align: left;"><a>中餐</a></li>
        <li><a>川菜</a></li>
        <li><a>沪菜</a></li>
        <li><a>粤菜</a></li>
        <li><a>湘菜</a></li>
        <li><a>闽菜</a></li>
        <li><a>浙菜</a></li>
        <li><a>苏菜</a></li>
        <li><a>清真菜</a></li>
        <li><a>东北菜</a></li>
        <li><a>其它菜系</a></li>
      </ul>
      <hr>
      <ul class="nav nav-pills">
        <li class="disabled" style="width: 7em; text-align: left;"><a>西餐</a></li>
        <li><a>日本</a></li>
        <li><a>韩国</a></li>
        <li><a>东南亚</a></li>
        <li><a>美国</a></li>
        <li><a>意大利</a></li>
        <li><a>法国</a></li>
        <li><a>墨西哥</a></li>
        <li><a>其它国家</a></li>
      </ul>
      <hr>
      <ul class="nav nav-pills">
        <li class="disabled" style="width: 7em; text-align: left;"><a>养生膳食</a></li>
        <li><a>幼儿菜谱</a></li>
        <li><a>婴儿食谱</a></li>
        <li><a>青少年菜谱</a></li>
        <li><a>老人菜谱</a></li>
        <li><a>运动员菜谱</a></li>
        <li><a>其它菜谱</a></li>
      </ul>
    </div>
  </div>
  <!-- ==================================End of Category=================================== -->
