.signInBox {
	margin-top: 10px;
	margin-bottom: 40px;
}

.pagination > li > a {
  color: #5a5a5a;
}

.pagination > li > a:hover {
  color: #333;
}

.pagination > li > a:focus {
  color: #333;
}

a.list-group-item.active {
  background-color: #ccc;
  border-color: #ddd;
  color: #555;
}

a.list-group-item.active:hover {
  background-color: #ccb;
  border-color: #ddd;
  color: #555;
}

.mainContainer {
  width: 85%;
  float: left;
  text-align: left;
  padding: 50px;
}

.notFirst {
  border-left: 1px solid #ddd;
}

.box {
  display: none;
}

.activeBox {
  display: block;
}

div#restaurantLogin {
  display: none;
}

.modal-body {
  padding-bottom:0px;
}
