l<!DOCTYPE html>
<html>
<head>
  <title>Yummy!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/carousel.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
  {% include 'parts/nav-bar.html' %}
  <!-- ==================================Main Container==================================== -->
  <!-- ==================================Menu=============================================  -->
  <div class="list-group" style="float: left; margin-top:50px;">
    <a href="#" class="list-group-item active activeBtn" id="informationBtn">餐厅信息</a>
    <a href="#" class="list-group-item" id="orderBtn">待处理订单</a>
    <a href="#" class="list-group-item" id="menuBtn">菜单管理</a>
  </div>
  <!-- ==================================End of Menu====================================== -->
  <div class="mainContainer">
    <!-- ==================================introduction================================= -->
    <div id="informationBox" class="box activeBox">
    <ul class="list-group">
      <li class="list-group-item"><front style="float: left;">餐厅名称:</front><front style="margin-left: 10em;">{{ info.name }}</front></li>
      <li class="list-group-item"><front style="float: left;">地址:</front><front style="margin-left: 12em;">{{ info.address }}</front></li>
      <li class="list-group-item"><front style="float: left;">联系方式:</front><front style="margin-left: 10em;">{{ info.contact }}</front></li>
      <li class="list-group-item"><front style="float: left;">餐厅简介:</front><front style="margin-left: 10em;">{{ info.describe }}</front></li>
      <li class="list-group-item"><front style="float: left;">主要菜系:</front><front style="margin-left: 10em;">{{ info.mainFoods }}</front></li>
    </ul>
    </div>
    <!-- ==================================End of introduction=========================== -->
    <!-- ==================================Order=========================================== -->
    <div id="orderBox" class="box">
    <div class="list-group">
      {% for o in order %}
      <a href="#" class="list-group-item">
        <div class="row myOrderRow">
          <p class="col-xs-4">订单号：</p>
          <p class="col-xs-4">{{ o.id }}</p>
        </div>
        <div class="row myOrderRow">
          <p class="col-xs-4">预订用餐时间：</p>
          <p class="col-xs-4">{{ o.date }}</p>
        </div>
        <div class="row myOrderRow">
          <p class="col-xs-4">总金额：</p>
          <p class="col-xs-4">{{ o.price }}元</p>
        </div>
      </a>
      {% endfor %}
    </div>
    </div>
    <!-- ==================================End of myOrder==================================== -->
    <!-- ==================================Menu============================================== -->
    <div id="menuBox" class="box">
    <div class="list-group" id="mainFoodBox">
      {% for food in foods %}
      <a href="javascript:void(0)" class="list-group-item foodBoxs" style="overflow: hidden;" id="foodBox{{ forloop.counter }}">
        <div class="row myOrderRow">
        <img class="col-xs-3" src="/static/images/guangZhouJiuJia_2.jpg" style="width: 200px; height: 150px;"/>
        <div class="col-xs-3">
          <p>菜名：</p>
          <p>{{ food.name }}</p>
        </div>
        <div class="col-xs-3">
          <p>单价：</p>
          <p>{{ food.price }}元/份</p>
        </div>
        <div class="col-xs-3">
          <p>介绍：</p>
          <p>{{ food.describe }}</p>
        </div>
        <div>
          <span class="glyphicon glyphicon-remove" style="position:relative; left:20px;" id="deleteBtn{{ forloop.counter }}"></span>
        </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <!-- ==================================End of menuBox============================ -->
    <!-- ==================================Add Food Btn============================== -->
    <a href="javascript:void(0)" class="list-group-item" style="display:none;" id="addBox">
        <div class="row myOrderRow">
        <div class="col-xs-3">
          <p>图片：</p>
          <input type="file" id="addFoodImage" />
        </div>
        <div class="col-xs-3">
          <p>菜名：</p>
          <p><input type="text" id="addFoodName" /></p>
        </div>
        <div class="col-xs-3">
          <p>单价：</p>
          <p><input type="text" id="addFoodPrice" />/份</p>
        </div>
        <div class="col-xs-3">
          <p>介绍：</p>
          <p><textarea row="3" col="20" id="addFoodIntro"/></textarea></p>
        </div>
        </div>
    </a>
    <button type="button" class="btn btn-default btn-lg" style="float:right;" id="addBtn">添加新菜式</button>
    <button type="button" class="btn btn-default btn-lg" style="float:right;margin-top:20px; display:none;" id="sure_addBtn">确认添加</button>
    <!-- ==================================End of Add Food Btn======================= -->
  </div>
  <!-- ==================================End of Main Container============================= -->
  <script src="/static/js/jquery-1.10.2.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/myRestaurant.js"></script>
</body>
</html>
