<!DOCTYPE html>
<html>
<head>
  <title>Yummy!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/carousel.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
  {% include 'parts/nav-bar.html' %}
  <!-- ==================================Main Container==================================== -->
  <!-- ==================================Menu=============================================  -->
  <div class="list-group" style="float: left; margin-top:50px;">
    <a href="#" class="list-group-item active activeBtn" id="selfIntroductionBtn">个人信息</a>
    <a href="#" class="list-group-item" id="myOrderBtn">我的订单</a>
    <a href="#" class="list-group-item" id="shoppingHistoryBtn">消费历史</a>
    <!-- <a href="#" class="list-group-item"></a> -->
  </div>
  <!-- ==================================End of Menu====================================== -->
  <div class="mainContainer">
    <!-- ==================================selfIntroduction================================= -->
    <div id="selfIntroductionBox" class="box activeBox">
    <ul class="list-group">
      <li class="list-group-item"><front style="float: left;">登录邮箱:</front><front style="margin-left: 10em;"> {{userInfo.email }} </front></li>
      <li class="list-group-item"><front style="float: left;">手机号码:</front><front style="margin-left: 10em;">{{ userInfo.phone }}</front></li>
      <li class="list-group-item"><front style="float: left;">地址:</front><front style="margin-left: 12em;">{{ userInfo.address }}</front></li>
      <li class="list-group-item"><front style="float: left;">生日:</front><front style="margin-left: 12em;">{{ userInfo.b_day }}</front></li>
      <li class="list-group-item"><front style="float: left;">真实姓名:</front><front style="margin-left: 10em;">{{ userInfo.name }}</front></li>
    </ul>
    </div>
    <!-- ==================================End of selfIntroduction=========================== -->
    <!-- ==================================myOrder=========================================== -->
    <div id="myOrderBox" class="box">
    <div class="list-group" id="orderBox">
      {% for o in order %}
      <a class="list-group-item" data-toggle="modal" data-target="#order">
        <div class="row myOrderRow">
          <p class="col-xs-4">餐厅：</p>
          <p class="col-xs-4" id="myOrderRestaurant">{{ o.name }}</p>
        </div>
        <div class="row myOrderRow">
          <p class="col-xs-4">预订时间：</p>
          <p class="col-xs-4" id="myOrderDate">{{ o.date }}</p>
        </div>
        <div class="row myOrderRow">
          <p class="col-xs-4">总金额：</p>
          <p class="col-xs-4">{{ o.price }}元</p>
        </div>
      </a>
      {% endfor %}
    </div>
    </div>
    <!-- ==================================End of myOrder==================================== -->
    <!-- ==================================shoppingHistory=================================== -->
    <div id="shoppingHistoryBox" class="box">
    <ul class="list-group">
      <li class="list-group-item row" style="margin-top: 0px;">
        <div class="col-md-4"><strong>日期</strong></div>
        <div class="col-md-4 notFirst"><strong>餐厅</strong></div>
        <div class="col-md-4 notFirst"><strong>消费金额</strong></div>
      </li>
      {% for h in history %}
      <li class="list-group-item row" style="margin-top: 0px;">
        <div class="col-md-4">{{ h.date }}</div>
        <div class="col-md-4 notFirst">{{ h.name }}</div>
        <div class="col-md-4 notFirst">{{ h.price }}</div>
      </li>
      {% endfor %}
    </ul>
    </div>
    <!-- ==================================End of shoppingHistory============================ -->
  </div>
  {% include 'parts/order.html' %}
  <!-- ==================================End of Main Container============================= -->
  <script src="/static/js/jquery-1.10.2.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/myAccount.js"></script>
	<script src="/static/js/order.js"></script>
</body>
</html>
