
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content login-modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">登陆</h4>
        </div>
        <div class="modal-body" id="userLogin">
          <div class="signInBox">
          <div class="input-group input-group">
            <span class="input-group-addon">邮箱</span>
            <input type="text" class="form-control" placeholder="E-mail" id="email">
          </div>
          <div class="input-group input-group">
            <span class="input-group-addon">密码</span>
            <input type="password" class="form-control" placeholder="Password" id="passwd">
          </div>
          </div>
        </div>
        <div class="modal-body" id="restaurantLogin">
          <div class="signInBox">
          <div class="input-group input-group">
            <span class="input-group-addon">帐号</span>
            <input type="text" class="form-control" placeholder="Account" id="account">
          </div>
          <div class="input-group input-group;">
            <span class="input-group-addon">密码</span>
            <input type="password" class="form-control" placeholder="Password" id="passwdAccount">
          </div>
          </div>
        </div>
        <div style="text-align:center; margin:auto; margin-bottom:20px;">
          <label><input name="loginType" type="radio" checked="checked" id="userLoginBtn"/>食客</label>
          <front>&nbsp;&nbsp;&nbsp;&nbsp;</front>
          <label><input name="loginType" type="radio" id="restaurantLoginBtn" />餐厅</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="signInBtn" data-dismiss="modal">确定</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
