
  <div class="modal fade" id="order">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">订单</h4>
        </div>
        <div class="modal-body">
          <div style="text-align: left;"><font class="col-xs-3">订单号：</font><font id="orderId"></font></div>
					<div style="text-align: left;"><font class="col-xs-3">预订时间：</font><font id="orderDate"></font></div>
					<div style="display: none; text-align: left;"><font class="col-xs-3">食客：</font><font id="orderCustomer"></font></div>
					<div style="display: none; text-align: left;"><font class="col-xs-3">餐厅名称：</font><font id="orderRestaurant"></font></div>
					<div style="display: none; text-align: left;"><font class="col-xs-3">餐厅地址：</font><font id="orderAddress"></font></div>
					<div style="display: none; text-align: left;"><font class="col-xs-3">餐厅电话：</font><font id="orderPhone"></font></div>
					<div style="text-align: left;" class="col-xs-3">订单详情：</div>
					<div class="table-responsive" id="orderDetail">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>菜名</th>
                  <th>数量</th>
                  <th>价格（元）</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div class="row">
              <div class="col-xs-4"></div>
              <div class="col-xs-4"></div>
              <p class="col-xs-2"><strong>总金额：</strong></p>
              <p class="col-xs-2"><strong id="totalPrice"></strong></p>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer"> -->
        <!--   <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> -->
        <!--   <button type="button" class="btn btn-primary" id="signInBtn" data-dismiss="modal">确定</button> -->
        <!-- </div> -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
